.container {
  background-color: var(--header-bg-color);
  height: 76vh;
  margin: 0;
  padding: 0 var(--mb-1-5);
}

header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
  box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

.nav {
  display: flex;
  max-width: 968px;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  //background: var(--container-color); TBD

  .btns {
    display: flex;
    align-items: center;
    .change-theme {
      font-size: 1.25rem;
      color: var(--title-color);
      margin-right: var(--mb-1);
      cursor: pointer;
      &:hover {
        color: var(--first-color);
      }
    }
  }
  .logo,
  .toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .logo {
    &:hover {
      color: var(--first-color);
    }
  }

  .toggle {
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      color: var(--first-color);
    }
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    &:hover {
      color: var(--first-color);
    }
    &.active-link {
      color: var(--first-color);
    }
  }
  
  .icon {
    font-size: 1.2rem;
  }

  .close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
    &:hover {
      color: var(--first-color-alt);
    }
  }
  .show-menu {
    bottom: 0;
  }
}

// for small devices
@media screen and (max-width: 350px) {
  .nav .menu {
    padding: 2rem .25rem 4rem;
  }
  .nav .list {
    column-gap: 0;
  }
}

// for large devices
@media screen and (max-width: 767px) {
  // .nav {
  //   justify-content: unset;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   .toggle {
  //     padding-left: 4px;
  //   }
  // }
  .menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

/* For larger devices */
@media screen and (min-width: 768px) {
  header {
    bottom: unset;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
    //box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    .icon,
    .close,
    .toggle {
      display: none;
    }
    .list {
      display: flex;
      column-gap: 2rem;
    }
    .menu {
      margin-left: auto;
    }
    .change-theme {
      margin: 0;
    }
  }

}

