<footer class="footer">
  <div class="bg">
    <!-- <div class="footer-container container grid">
      <div>
        <h1 class="title">Monica</h1>
        <span class="subtitle">Front-End developer</span>
      </div>
      <ul class="links">
        <li *ngFor="let navLink of navigationLinks">
          <a href="{{navLink.link}}" class="link">{{navLink.text}}</a>
        </li>
        <li>
          <a href="#home" (click)="clickedContactMe()" class="link">Contact</a>
        </li>
      </ul>
      <div class="socials">
        <a href="" class="social"></a>
        <a href="" class="social"></a>
        <a href="" class="social"></a>
      </div>
    </div> -->
    <p class="copy">Build and designed by MonicaKochofar. All rights reserved. &#169;</p>
  </div>
</footer>