<footer class="footer">
  <div class="bg">
    <div class="footer-container container grid">
      <div>
        <h1 class="title">Monica</h1>
        <span class="subtitle">Frontend developer</span>
      </div>
      <ul class="links">
        <li>
          <a href="#services" class="link">Services</a>
        </li>
        <li>
          <a href="#portfolio" class="link">Portfolio</a>
        </li>
        <li>
          <a href="#contact" class="link">Contactme</a>
        </li>
      </ul>
      <!-- <div class="socials">
        <a href="" class="social"></a>
        <a href="" class="social"></a>
        <a href="" class="social"></a>
      </div> -->
    </div>
    <p class="copy">&#169; Bedimcode. All rights reserved.</p>
  </div>
</footer>