.data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  .rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
  .line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px)
  }
  .title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  .subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
  }
  .calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
  }
}

@media screen and (min-width: 768px) {
  .timeline {
    .linecircle {
      &:hover {
        transform: unset;
        transition: .3s;
      }
    }
    &.top {
      .details {
        transition: .3s;
        transform: translateX(150px);
      }
    }
    &.bottom{
      .details {
        transition: .3s;
        transform: translateX(-150px);
      }
    }
    .details {
      transform: unset;
      transition: .3s;
    }
  }
}