<ng-container *ngFor="let item of itemList">
  <div class="timeline data"
    [ngClass]="{
      'top': item.decoration.position === 'top',
      'bottom': item.decoration.position === 'bottom'
    }">
    <ng-container 
      *ngTemplateOutlet="item.decoration.position === 'top' ? linecircle : null;
      context: { 
        hasLine: item.decoration.hasLine, 
        hasCircle: item.decoration.hasCircle,
        position: item.decoration.position
      }">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="details; 
      context: { 
        title: item.title, 
        location: item.location, 
        years: item.years 
      }">
    </ng-container>
    <ng-container 
      *ngTemplateOutlet="item.decoration.position === 'bottom' ? linecircle : null;
      context: { 
        hasLine: item.decoration.hasLine, 
        hasCircle: item.decoration.hasCircle,
        position: item.decoration.position
      }">
    </ng-container>
  </div>
</ng-container>


<ng-template #details let-title="title" let-location="location" let-years="years">
  <div class="details">
    <h3 class="title" [innerHTML] = "title"></h3>
    <span class="subtitle">{{ location }}</span>
    <div class="calendar">
      <i class="uil uil-calendar-alt"></i>
      {{ years }}
    </div>
  </div>
</ng-template>

<ng-template #linecircle let-line="hasLine" let-circle="hasCircle" let-position="position">
  <div *ngIf="position === 'top'"></div>
  <div class="linecircle">
    <span class="rounder" *ngIf="circle"></span>
    <span class="line" *ngIf="line"></span>
  </div>
</ng-template>