<section class="skills section" id="skills">
  <h2 class="section-title">Skills</h2>
  <span class="section-subtitle">My technical level</span>
  <div class="skills-container container grid">
    <div>

      <div class="content" [ngClass]="{'open': isOpen, 'close':!isOpen}">
        <div class="header" (click)="isOpen = !isOpen">
          <i class="uil uil-brackets-curly brackets-icon"></i>
          <div>
            <h1 class="title">Front-End developer</h1>
            <span class="subtitle">More than 4 years</span>
          </div>
          <i class="uil uil-angle-down arrow-icon"></i>
        </div>

        <div class="list grid">
          <div class="data">
            <div class="title">
              <h3 class="name">HTML</h3>
              <span class="number">90%</span>
            </div>
            <div class="bar">
              <span class="percentage" [style.width]="'90%'"></span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
