<section class="about section" id="about">
  <h2 class="section-title">About Me</h2>
  <span class="section-subtitle">My introduction</span>

  <div class="about-container container">
    <div class="block block-hidden" id="about-block"></div>
    <div class="about-data">
      <div class="description">
        <div class="text">
          I am currently working at <strong>Rogers Communications</strong> as a full time Front End Developer, 
        with a focus on <span class="light-text">Angular</span> in particular. My projects currently surround a high-impact web application, 
        used regularly by 7000 call centre representatives.
        </div>
        <!-- <div class="text">
          How did I get here you ask? Well well well, it all started back when I was 14 and realized that I could change 
          my Neopets theme background to <i>pink</i> using CSS, aaaand when I had spent hours creating random GeoCities
          websites. <br> (Does anyone <span class="light-text">remember these?</span> No? Ok.)
        </div> -->
        <div class="text">
          I'm into any software project that <span class="light-text">requires creativity and design</span>. 
          After trying out many different Full-Stack experiences--and recalling fond memories
          of editing Neopets themes--I have found my happy resting place 
          in Front End. 
        </div>
        <div class="text">
          In my spare time I love <span class="light-text">concerts, travel, and video games</span>.
        </div>
        
      </div>
      
      <div class="technologies">
        <div class="technologies-description">Here are some technologies that I have worked with:</div>
        <ul class="list">
          <li class="tech-item about-hidden">
            <i class="uil uil-angle-double-right icon"></i>
            Angular Js / 2+
          </li>
          <li class="tech-item about-hidden">
            <i class="uil uil-angle-double-right icon"></i>
            HTML and CSS
          </li>
          <li class="tech-item about-hidden">
            <i class="uil uil-angle-double-right icon"></i>
            Java
          </li>
          <li class="tech-item about-hidden">
            <i class="uil uil-angle-double-right icon"></i>
            Javascript ES6+
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>