<section class="about section" id="about">
  <h2 class="section-title">About Me</h2>
  <span class="section-subtitle">My introduction</span>

  <div class="about-container container grid">
    <img src="assets/img/about.jpg" alt="" class="about-img">
    <div class="about-data">
      <p class="description">
        Web developer, with extensive knowledge and years of experience, 
        working in web technologies and UI/UX design, delivering quality work.
      </p>
      <div class="info">
        <div>
          <span class="title">08+</span>
          <span class="name">Years <br> experience</span>
        </div>
        <div>
          <span class="title">20+</span>
          <span class="name">Completed <br> project</span>
        </div>
        <div>
          <span class="title">05+</span>
          <span class="name">Companies <br> worked</span>
        </div>
      </div>
      <div class="buttons">
        <a download="" href="assets/pdf/Alexa-Cv.pdf" class="button button-flex">
          Download CV <i class="uil uil-download-alt button-icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>