<section #aboutElement class="about section" 
  id="about" 
  fadeIn>
  <h2 class="section-title">About Me</h2>
  <span class="section-subtitle">My introduction</span>

  <div class="about-container container">
    <div class="block block-hidden" id="about-block"></div>
    <div class="about-data">
      <div class="description" [innerHTML]="description">
      </div>
      
      <div class="technologies">
        <div class="technologies-description">Here are some technologies that I have worked with:</div>
        <ul class="list">
          <li class="tech-item about-hidden animation-shake" *ngFor="let technology of technologies">
            <i class="uil uil-angle-double-right icon"></i>
            {{ technology }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>