<ng-container *ngIf="data">
  <div class="portfolio-modal" [ngClass]="{'active-modal': data.isActive}">
    <div class="portfolio-modal-content">
      <h4 class="portfolio-modal-title">{{ data.title1 }}  {{ data.title2 }}</h4>
      <i class="uil uil-times close" (click)="closeModal()"></i>
  
      <ul class="portfolio grid">
        <li class="service" *ngFor="let item of data.portfolio">
          <i class="uil uil-check-circle portfolio-modal-icon"></i>
          <p>{{ item }}</p>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
