
<app-header></app-header>
<main>
  <div class="full-width">
    <section class="home section">
      <div class="home_container container grid">
        <div class="home_content grid">
          <div class="home_social">
            <a href="https://www.linkedin.com/" class="home_social-icon">
              <i class="uil uil-linkedin-alt"></i>
            </a>
            <a href="https://www.github.com/" class="home_social-icon">
              <i class="uil uil-github-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<app-footer></app-footer>