.portfolio-container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  .portfolio-content {
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: 1s;
    opacity: unset;
    cursor: default;
    &:active {
      .icon-external,
      .icon-git {
        transition: .3s;
        transform: scale(1.5);
      }
    }
    &.portfolio-hidden {
      opacity: 0;
      transition: 1s;
    }
    .action-icons {
      position: absolute;
      right: 1rem;
      top: 1rem;
      .icon-external {
        //display: none; //TBD: update as needed
        padding-left: 4px;
      }
    }
    .icon-external,
    .icon-git {
      font-size: 1.5rem;
      color: var(--first-color);
      &.shake {
        animation: shake .5s;
        animation-iteration-count: 1;
      }
      &:hover {
        cursor: pointer;
        transition: .3s;
        transform: scale(1.5);
      }
    }
    .square {
      // cursor: pointer;
      .languages {
        padding-top: .5rem;
        font-size: var(--small-font-size);
      }
    }
    &:hover {
      box-shadow: 0 4px 8px rgba(0,0,0,.15);
      transform: translateY(-7px);
      .button-icon {
        transition: .3s;
        transform: translateX(.25rem);
      }
    }
    .icon {
      display: block;
      font-size: 1.5rem;
      color: var(--first-color);
      margin-bottom: var(--mb-1);
    }
    .title {
      font-size: var(--h3-font-size);
      margin-bottom: var(--mb-1);
      font-weight: var(--font-medium);
    }
    .portfolio-button {
      font-size: var(--small-font-size);
    }
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@media screen and (max-width: 350px) {
  .portfolio-container .portfolio-content {
    .icon-external,
    .icon-git {
      animation: unset;
      &.shake {
        animation: unset;
      }
    }
  }
}