<app-home></app-home>
<app-about></app-about>
<!-- <app-skills></app-skills> -->
<app-portfolio></app-portfolio>
<app-experience 
  [showTabs]="false"
  [workItemList]="workItemList">
</app-experience>

<!-- <section class="slider section" id="slider">
  <h2 class="section-title">Slider</h2>
  <span class="section-subtitle">Most recent work</span>

  <div class="slider-container container">
    <div class="carousel">
      <i class="uil uil-arrow-left carousel-icon" 
        (click)="sliderClicked('backward')">
      </i>

      <div class="content grid">
        <img src="{{ currentContent.imgSrc }}" alt="" class="img">

        <div class="data">
          <h3 class="title">{{ currentContent.title }}</h3>
          <p class="description">
            {{ currentContent.description }}
          </p>
          <a href="#" class="button button-flex button-small slider-button">
            Demo
            <i class="uil uil-arrow-right icon"></i>
          </a>
        </div>
      </div>

      <i class="uil uil-arrow-right carousel-icon"
        (click)="sliderClicked('forward')">
      </i>

    </div>
  </div>
</section> -->