.experience-container {
  [data-content] {
    display: none;
    &.active {
      display: block;
    }
  }
  .tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    .experience-button {
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
      cursor: pointer;
      caret-color: transparent;
      &.active {
        color: var(--first-color);
        // text-decoration: underline;
      }
      &:hover {
        color: var(--first-color);
      }
    }
    .icon {
      font-size: 1.8rem;
      margin-right: var(--mb-0-25);
    }
  }
  .sections .data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    .rounder {
      display: inline-block;
      width: 13px;
      height: 13px;
      background-color: var(--first-color);
      border-radius: 50%;
    }
    .line {
      display: block;
      width: 1px;
      height: 100%;
      background-color: var(--first-color);
      transform: translate(6px, -7px)
    }
    .title {
      font-size: var(--normal-font-size);
      font-weight: var(--font-medium);
    }
    .subtitle {
      display: inline-block;
      font-size: var(--small-font-size);
      margin-bottom: var(--mb-1);
    }
    .calendar {
      font-size: var(--smaller-font-size);
      color: var(--text-color-light);
    }
  }
}

@media screen and (min-width: 768px) {
  .experience {
    .tabs {
      justify-content: center;
    }
    .experience-button {
      margin: 0 var(--mb-1);
    }
    .sections {
      grid-template-columns: .5fr;
    }
  }
}

@media screen and (min-width: 568px) {
  .experience {
    .sections {
      display: grid;
      grid-template-columns: .6fr;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 350px) {
  .timeline {
    gap: .5rem;
  }
}